@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #7A1CAC;
    --color-text: #231942;
    --navbar-color: #ffffff;
    --navbar-color-text: #000000;
}

.text-primary {
    color: var(--secondary-color) !important;
}

.btn-primary {
    color: #ffffff;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}


/* Navbar */
.header-top {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 2;
    transition: top 0.5s ease;
    background-color: var(--navbar-color);
    border-bottom: 2px solid #a8a6a6e7;
}

.header-top .navbar-brand .logo{
    width: 40px;
    height: 40px;
}

.header-top svg{
    color: var(--secondary-color);
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 56px;
    transition: top 0.2s ease;
    background-color: var(--navbar-color);
}

.navbar .nav-item a{
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    text-decoration: none;
    color: var(--navbar-color-text);
}

.navbar .nav-item a:hover {
    color: var(--secondary-color);
}

.navbar .nav-item .active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.navbar .nav-item .active:hover {
    color: var(--navbar-color);
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .form-search .search-input:focus {
    box-shadow: none;
    border: 1px solid var(--secondary-color);
}

.navbar .form-search .button-search {
    width: 100px;
    border-radius: 5%;
    background-color: #ffffff;
    border: 1px solid #DCDCDC;
}
.navbar .form-search .button-search:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #ffffff;
    transition: 0.4s;
}

@media screen and (max-width: 575px) {
    .header-top{
        display: none;
    }

    .navbar {
        top: 0;
    }
}

@media screen and (max-width: 475px) {
    .header-top{
        display: none;
    }

    .navbar {
        top: 0;
    }

    .navbar .navbar-brand img {
        width: 250px;
    }
}

@media screen and (max-width: 375px) {
    .header-top{
        display: none;
    }

    .navbar {
        top: 0;
    }

    .navbar .navbar-brand img {
        width: 200px;
    }
}

/* Navbar */

/* billboard */
.billboard {
    background: #EEEEEE; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9B7EBD, #D4BEE4, #EEEEEE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9B7EBD, #D4BEE4, #EEEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.billboard img {
    max-width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}

.billboard .header-box h1 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--color-text);
    --animate-delay: 0.6s;
}

.billboard .header-box h1 span {
    font-weight: 700;
}

.billboard .header-box p {
    line-height: 2;
    color: var(--color-text);
    font-weight: 500;
    --animate-delay: 1s;
}

.billboard .header-box a {
    width: 150px;
    border-radius: 5%;
    color: #ffffff;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.billboard .header-box img{
    width: 100%;
}

@media screen and (max-width: 992px) {
    .billboard .header-box{
        padding-top: 8rem;
    }

    .billboard .header-box img{
        width: 400px;
        display: block;
        margin-inline: auto;
    }
}

@media screen and (max-width: 575px) {
    .billboard .header-box h1{
        font-size: 3rem;
        align-items: center;
    }
}

@media screen and (max-width: 475px) {
    .billboard .header-box h1{
        font-size: 2.4rem;
    }

    .billboard .header-box p{
        font-size: 14px;
    }

    .billboard .header-box img{
        width: 300px;
    }
}

@media screen and (max-width: 375px) {
    .billboard .header-box h1{
        font-size: 2rem;
    }

    .billboard .header-box p{
        font-size: 12px;
    }
}

/* billboard */

/* About */
.about-us {
    background-color: var(--primary-color);
    padding: 40px 0 40px 0;
}

svg.play-icon {
    animation: play 1.5s alternate infinite ease-in;
}

@keyframes play {
    0% {
      transform: scale(.8);
    }
  
    100% {
      transform: scale(1.1);
    }
  }

/* About */

/* Visi Misi */
.visimisi {
    padding-top: 100px;
    background-color: var(--primary-color);
}

.visimisi p {
    line-height: 2;
}

.visimisi ol li{
    line-height: 2;
    margin-bottom: 5px;
}
/* Visi Misi */

/* strucktur */
.strucktur {
    background-color: var(--primary-color);
    padding: 20px 0 20px 0;
    margin-top: 50px;
}

.strucktur img {
    align-items: center;
    width: 90%;
    height: auto;
}

.str .open-modal {
    text-align: center;
}
  
/* strucktur */

/* prestasi */
.prestasi {
    background-color: var(--primary-color);
    padding: 20px 0 20px 0;
    margin-top: 50px;
}

.prestasi .scroll-top, .scroll-bottom {
    overflow-x: auto;
    height: 20px; /* Tinggi scrollbar */
    margin-bottom: -20px; /* Mengurangi jarak */
}

.prestasi .scrollbar {
    width: 100%;
    height: 1px; /* Ini akan menyesuaikan dengan scrollbar */
}

.prestasi .table-responsive-wrapper {
    overflow-x: auto;
}
/* prestasi */

/* fasilitas */
.fasilitas {
    background-color: var(--primary-color);
    padding: 50px 0 50px 0;
    margin-top: 100px;
}

.jarallax {
    min-height: 350px;
    transition: all 0.5s ease-in-out;
}

.fasilitas-block {
    transition: all 0.5s ease-in-out;
    background-color: var(--secondary-color);
}

.fasilitas-block:hover .jarallax {
    opacity: 0;
}

.fasilitas-btn {
    transition: all 0.5s ease-in-out;
}

.fasilitas-block:hover .fasilitas-btn {
    color: var(--dark-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
/* fasilitas */

/* Footer */
.footer {
    width: 100%;
    min-height: 60vh;
}

.footer .row:nth-child(1) .col:nth-child(1) h3 {
    color: var(--color-text);
}

.footer .row:nth-child(1) .col:nth-child(1) .desc {
    color: var(--color-text);
    font-size: 14px;
    line-height: 2;
}

.footer .no a,
.footer .email a {
    display: flex;
    align-items: center;
    color: black;
    column-gap: 5px;
}

.footer .no a:hover,
.footer .email a:hover {
    color: var(--secondary-color);
}

.footer .row:nth-child(1) .col:nth-child(2) {
    gap: 10px;
}

.footer .row:nth-child(1) .col:nth-child(2) a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.footer .row:nth-child(1) .col:nth-child(2) a:hover {
    color: var(--secondary-color);
}

.footer .subscribe {
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer .subscribe input {
    width: 200px;
    height: 38px;
    padding: 5px;
}

.footer .sosial {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .sosial i {
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer .sosial i:hover {
    color: var(--secondary-color);
}

.footer .row:nth-child(2) {
    margin-top: 100px;
}

.footer .telp-icon,
.footer .email-icon{
    color: var(--secondary-color);
}
/* footer */